{{> HEADER}}

<section>
{{#if isMe}}
    <h2>My Games</h2>
{{else}}
    <h2>Games by {{user.name}}</h2>
{{/if}}

{{#each gamesByAccess}}
    <h3 class="has-description">{{this.name}}</h3>
    <p class="description">{{this.description}}</p>
{{#unless this.games}}
    <p>{{this.none}}</p>
{{else}}
    <table>
    <thead>
    <tr>
        <th>Game Name</th>
{{#if ../../canEditGames}}
        <th>Access Level</th>
{{/if}}
    </tr>
    </thead>

    <tbody>
{{#each this.games}}
    <tr>
        <td><a href="{{../../../HTTP_PREFIX}}/games/{{../../../user.username}}/{{this.name}}" title="Play {{this.name}}"><b>{{this.name}}</b></a></td>
{{#if ../../../canEditGames}}
        <td>
            <form action="" method="POST">
                <input type="hidden" name="action" value="set-game-access">
                <input type="hidden" name="username" value="{{../../../user.username}}">
                <input type="hidden" name="game" value="{{this._id}}">
                <select name="access" class="formcheckers-select-auto-submit">
                    <option value="public"{{#if this.isPublicAccess}} selected{{/if}}>Public</option>
                    {{#or ../../../user.organization this.isOrganizationAccess}}<option value="organization"{{#if this.isOrganizationAccess}} selected{{/if}}>Organization</option>{{/or}}
                    <option value="private"{{#if this.isPrivateAccess}} selected{{/if}}>Private</option>
                </select>
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form action="" method="POST" target="_blank">
                <input type="hidden" name="action" value="download-game">
                <input type="hidden" name="username" value="{{../../../user.username}}">
                <input type="hidden" name="game" value="{{this._id}}">
                <input type="submit" value="Download JSON">
            </form>
            <form action="" method="POST" class="formcheckers-delete-check" data-name="{{this.name}}">
                <input type="hidden" name="action" value="delete-game">
                <input type="hidden" name="username" value="{{../username}}">
                <input type="hidden" name="game" value="{{this._id}}">
                <input type="submit" value="Delete Game">
            </form>
        </td>
{{/if}}
    </tr>
{{/each}}
    </tbody>
    </table>
{{/unless}}
{{/each}}
</section>

{{> FOOTER}}
