<%- include("HEADER", {title: "SerGIS Account - " + user.username, page: "account"}) %>

<section>
    <% if (statusMessages && statusMessages.length) { %>
    <ul class="status"><% statusMessages.forEach(function (status) { %>
        <li><%= status %></li>
    <% }) %></ul><% } %>
    
    <p class="titlelinks"><a href="<%= httpPrefix %>/games/<%= user.username %>"><% if (me.username == user.username) { %>My <% } %>Games<% if (me.username != user.username) { %> by <%= user.name %><% } %></a></p>
    <h2><%= user.name %></h2>
    
    <form action="" method="POST">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="hidden" name="action" value="update-user">
        <table><tbody>
            <tr><td>Display Name: </td><td><input type="text" name="name" required value="<%= user.name %>"></td></tr>
            <tr><td>New Password: </td><td><input name="password1" type="password"><br><small>(Leave this blank to keep the existing password.)</small></td></tr>
            <tr><td>Confirm New Password: </td><td><input name="password2" type="password"></td></tr>
            <% if (me.isFullAdmin) { %>
            <tr><td>Organization: </td><td><select name="organization">
                <!-- <%= (user.organization && user.organization._id) %> -->
                <option value=""<% if (!user.organization) { %> selected<% } %>>(none)</option>
                <% organizations.forEach(function (org) { %>
                <option value="<%= org._id %>"<% if (user.organization && user.organization.equals(org)) { %> selected<% } %>><%= org.name %></option>
                <% }) %>
            </select></td></tr>
            <% if (!user.equals(me)) { %>
            <tr><td>Admin Status: </td><td><select name="admin">
                <option value="nope"<% if (user.adminStatus == "nope") { %> selected<% } %>>Not Admin</option>
                <option value="kinda"<% if (user.adminStatus == "kinda") { %> selected<% } %>>Organization Admin</option>
                <option value="yup"<% if (user.adminStatus == "yup") { %> selected<% } %>>Full Admin</option>
            </select></td></tr>
            <% } } %>
            <tr><td>&nbsp;</td><td><input type="submit" value="Update <% if (me.username != user.username) { %><%= user.name %><% } %>"></td></tr>
        </tbody></table>
    </form>
    <h3>Manually Add Game</h3>
    <p>The easiest way to create a new game is using the <a href="<%= httpPrefix %>/author">Game Author</a>. From within the Author, click the "Publish" button to publish a game that you have created.</p>
    <p>Games can also be represented in a JSON format called <a href="http://sergisproject.github.io/docs/json.html" target="_blank">SerGIS JSON Game Data</a>. If you have a JSON file in this format, you can upload it here:</p>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="hidden" name="action" value="create-game">
        <table><tbody>
            <tr><td>Game Name: </td><td><input type="text" name="gameName" required pattern="<%= gameNamePattern %>"><br><small>Must be unique, consisting only of letters, digits, and the following characters: <code><%= gameNameCharacters %></code></small></td></tr>
            <tr><td>SerGIS JSON Game Data file: </td><td><input type="file" name="jsonfile" required></td></tr>
            <tr><td>Access Level: </td><td><select name="access">
                <option value="public" selected>Public</option>
                <% if (user.organization) { %>
                <option value="organization">Organization</option>
                <% } %>
                <option value="private">Private</option>
            </select><br><small>Public games are accessible by anyone.<br><% if (user.organization) { %>Organization games are accessible by anyone in <%= user.organization.name %>.<br><% } %>Private games are only accessible by <% if (me.username == user.username) { %>you<% } else { %><%= user.name %><% } %> and administrators.</small></td></tr>
            <tr><td>&nbsp;</td><td><input type="submit" value="Create Game"></td></tr>
        </tbody></table>
    </form>
    
    <h3>Delete Account</h3>
    <% if (user.isFullAdmin) { %>
    <p>Full Admin accounts cannot be deleted.<% if (me.isFullAdmin) { %> Please change the account's admin status from Full Admin first.<% } %></p>
    <% } else { %>
    <p>To permanently remove this account and ALL games associated with it, click "Delete Account."</p>
    <form action="" method="POST" onsubmit="return confirm('Are you sure that you want to delete <% if (user.username == me.username) { %>your<% } else { %>this<% } %> account?')">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="hidden" name="action" value="delete-user">
        <p><input type="submit" value="Delete Account"></p>
    </form>
    <% } %>
</section>

<%- include("FOOTER") %>
