<%- include("HEADER", {title: "SerGIS Account - " + me.username, page: "account-publish-done", nostyle: true}) %>

<section>
    <p>Congratulations! Your game has been published.</p>
    <p><a href="<%= httpPrefix %>/games/<%= me.username %>/<%= gameName %>" target="_blank">View Game</a></p>
</section>

<%- include("FOOTER", {nostyle: true}) %>
