<%- include("HEADER", {title: "SerGIS Server Admin", page: "admin"}) %>

<section>
    <% if (statusMessages && statusMessages.length) { %>
    <ul class="status"><% statusMessages.forEach(function (status) { %>
        <li><%= status %></li>
    <% }) %></ul><% } %>
    
    <% if (me.isAdmin) { %>
    <form action="" method="POST">
        <input type="hidden" name="action" value="create-organization">
        <h2>Create Organization</h2>
        <table><tbody>
            <tr><td>Organization Name: </td><td><input name="organization" type="text" required></td></tr>
            <tr><td>&nbsp;</td><td><input type="submit" value="Create Organization"></td></tr>
        </tbody></table>
    </form>
    <% } %>
    
    <form action="" method="POST">
        <input type="hidden" name="action" value="create-user">
        <h2>Create User<% if (organization) { %> in <%= organization %><% } %></h2>
        <table><tbody>
            <tr><td>Username: </td><td><input type="text" name="username" required pattern="<%= usernamePattern %>"><br><small>Must be unique, consisting only of letters, digits, and the following characters: <code><%= usernameCharacters %></code></small></td></tr>
            <tr><td>Display Name: </td><td><input type="text" name="displayName" required></td></tr>
            <tr><td>Password: </td><td><input type="text" id="new-user-password" name="password" autocomplete="off" required> <button class="password-generator" data-input-elem="new-user-password" data-message-elem="new-user-password-message" style="display: none;">Generate Password</button><br><small id="new-user-password-message"></small></td></tr>
            <% if (me.isAdmin) { %>
            <tr><td>Organization: </td><td><select name="organization">
                <option value="" selected>(none)</option>
                <% organizations.forEach(function (org) { %>
                <option value="<%= org %>"><%= org %></option>
                <% }) %>
            </select> <small>(optional)</small></td></tr>
            <tr><td>Admin Status: </td><td><select name="admin">
                <option value="nope" selected>Not Admin</option>
                <option value="kinda">Organization Admin</option>
                <option value="yup">Full Admin</option>
            </select></td></tr>
            <% } %>
            <tr><td>&nbsp;</td><td><input type="submit" value="Create User"></td></tr>
        </tbody></table>
    </form>
    
    <h2>Existing Users<% if (organization) { %> in <%= organization %><% } %></h2>
    <% if (users.length == 0) { %>
    <p>No users! Create one above.</p>
    <% } else { %>
    <table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Display Name</th>
        <% if (me.isAdmin) { %>
        <th>Organization</th>
        <th>Admin Status</th>
        <% } %>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <% users.forEach(function (user) { %>
    <tr>
        <td><i><%= user.username %></i></td>
        <td><%= user.displayName %></td>
        <% if (me.isAdmin) { %>
        <td>
            <form action="" method="POST">
                <input type="hidden" name="action" value="set-user-organization">
                <input type="hidden" name="username" value="<%= user.username %>">
                <select name="organization" class="formcheckers-select-auto-submit">
                    <option value=""<% if (!user.organization) { %> selected<% } %>>(none)</option>
                    <% organizations.forEach(function (org) { %>
                    <option value="<%= org %>"<% if (user.organization==org) { %> selected<% } %>><%= org %></option>
                    <% }) %>
                </select>
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <% if (me.username == user.username) { %>Full Admin<% } else { %>
            <form action="" method="POST">
                <input type="hidden" name="action" value="set-user-admin">
                <input type="hidden" name="username" value="<%= user.username %>">
                <select name="admin" class="formcheckers-select-auto-submit">
                    <option value="nope"<% if (!user.isAdmin && !user.isOrganizationAdmin) { %> selected<% } %>>Not Admin</option>
                    <option value="kinda"<% if (!user.isAdmin && user.isOrganizationAdmin) { %> selected<% } %>>Organization Admin</option>
                    <option value="yup"<% if (user.isAdmin) { %> selected<% } %>>Full Admin</option>
                </select>
                <input type="submit" value="Update">
            </form>
            <% } %>
        </td>
        <% } %>
        <td><a href="<%= httpPrefix %>/account/admin/<%= user.username %>">View Details</a><br><a href="<%= httpPrefix %>/games/<%= user.username %>">View Games</a></td>
        <% if (me.username != user.username && !user.isAdmin) { %>
        <td>
            <form action="" method="POST" class="formcheckers-delete-check" data-name="<%= user.displayName %>">
                <input type="hidden" name="action" value="delete-user">
                <input type="hidden" name="username" value="<%= user.username %>">
                <input type="submit" value="Delete">
            </form>
        </td>
        <% } %>
    </tr>
    <% }) %>
    </tbody>
    </table>
    <% } %>
</section>

<%- include("FOOTER", {formCheckers: true, passwordGenerator: true}) %>
