<%- include("HEADER", {title: "SerGIS Games", page: "games-all"}) %>

<section>
    <h2>SerGIS Games</h2>

    <% gamesByAccess.forEach(function (gameObj) { %>
    <h3 class="has-description"><%= gameObj.name %></h3>
    <p class="description"><%= gameObj.description %></p>
    <% if (gameObj.games.length == 0) { %>
    <p><%= gameObj.none %></p>
    <% } else { %>
    <table>
    <thead>
    <tr>
        <th>Game Name</th>
        <th>Game Owner</th><% if (gameObj.organizationColumn) { %>
        <th>Organization</th><% } %>
    </tr>
    </thead>

    <tbody>
    <% gameObj.games.forEach(function (game) { %>
    <tr>
        <td><a href="<%= httpPrefix %>/games/<%= game.gameOwner %>/<%= game.gameName %>" title="Play <%= game.gameName %>"><b><%= game.gameName %></b></a></td>
        <td><a href="<%= httpPrefix %>/games/<%= game.gameOwner %>" title="View all games by <%= game.gameOwner %>"><%= game.ownerDisplayName || game.gameOwner %></a></td>
        <% if (gameObj.organizationColumn) { %><td><%= game.ownerOrganization %></td><% } %>
    </tr>
    <% }) %>
    </tbody>
    </table>
    <% } %>
    <% }) %>
</section>

<%- include("FOOTER", {formcheckers: true}) %>
