<%- include("HEADER", {title: "SerGIS Games", page: "games-all"}) %>

<section>
    <h2>SerGIS Games</h2>

    <% gamesByAccess.forEach(function (gameObj) { %>
    <h3 class="has-description"><%= gameObj.name %></h3>
    <p class="description"><%= gameObj.description %></p>
    <% if (gameObj.games.length == 0) { %>
    <p><%= gameObj.none %></p>
    <% } else { %>
    <table>
    <thead>
    <tr>
        <th>Game Name</th>
        <th>Game Owner</th><% if (gameObj.organizationColumn) { %>
        <th>Organization</th><% } %>
    </tr>
    </thead>

    <tbody>
    <% gameObj.games.forEach(function (game) { %>
    <tr>
        <td><a href="<%= httpPrefix %>/games/<%= game.owner.username %>/<%= game.name %>" title="Play <%= game.name %>"><b><%= game.name %></b></a></td>
        <td><a href="<%= httpPrefix %>/games/<%= game.owner.username %>" title="View all games by <%= game.owner.name %>"><%= game.owner.name %></a></td>
        <% if (gameObj.organizationColumn) { %><td><%= orgsByID[game.owner.organization] %></td><% } %>
    </tr>
    <% }) %>
    </tbody>
    </table>
    <% } %>
    <% }) %>
</section>

<%- include("FOOTER", {formcheckers: true}) %>
